.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../assets/1632745655_repetitor-po-anglijskomu-jazyku.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.type__class {
    width: 20%;
    height: 35%;
    border: 1px solid black;
    border-radius: 50%;
    text-decoration: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title__type_class {
    text-decoration: none;
    font-size: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 15px 30px 30px #9d822b;
}
.vegetables {
    background-image: url("../../assets/овощи.jpeg");
}
.fruits {
    background-image: url("../../assets/fruits.jpeg");
}
.animals {
    background-image: url("../../assets/animals.jpeg");
}